<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flex Layout</title>
    <link rel="stylesheet" href="newflex.css" />
</head>

<body>
    <section class="top-section">
        <div class="logo">
            <img src="../../images/food-1.jpg" alt="" />
        </div>

        <h1>title</h1>

        <div class="carousel">
            <button class="lt-btn">&lt;</button>

            <div class="viewport">
                <div class="track">
                    <div class="img-container">
                        <img src="../../images/food-1.jpg" alt="" />
                    </div>
                    <div class="img-container">
                        <img src="../../images/food-2.jpg" alt="" />
                    </div>
                    <div class="img-container">
                        <img src="../../images/food-3.jpg" alt="" />
                    </div>
                    <div class="img-container">
                        <img src="../../images/food-4.jpg" alt="" />
                    </div>
                    <div class="img-container">
                        <img src="../../images/food-1.jpg" alt="" />
                    </div>
                    <div class="img-container">
                        <img src="../../images/food-2.jpg" alt="" />
                    </div>
                    <div class="img-container">
                        <img src="../../images/food-3.jpg" alt="" />
                    </div>
                    <div class="img-container">
                        <img src="../../images/food-4.jpg" alt="" />
                    </div>
                </div>
            </div>
            <button class="gt-btn">&gt;</button>
        </div>
    </section>
</body>

</html>